.banner {
  position: relative;
  height: 600px;
  object-fit: contain;
  color: white;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 180px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1rem;
  max-width: 360px;
  height: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.banner__buttons {
  display: flex;
  gap: 1rem;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  transition: all 0.2s;
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
}

.banner__buttonPlay {
  background-color: white;
  color: black;
}

.banner__buttonPlay:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.banner--fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .banner {
    height: 450px;
  }
  
  .banner__contents {
    padding-top: 120px;
    margin-left: 20px;
  }
  
  .banner__title {
    font-size: 2rem;
  }
  
  .banner__description {
    width: 100%;
    max-width: 300px;
    font-size: 0.9rem;
  }
}
