.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 70px;
  z-index: 1000;
  transition: all 0.5s ease-in;
}

.nav__black {
  background-color: #111;
}

.nav__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav__logo {
  position: fixed;
  left: 20px;
  width: 100px;
  object-fit: contain;
  cursor: pointer;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 4px;
}
